Search:<input type="text" name="search" [(ngModel)]="search">

<table class ='employee table'>
<thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Annual Salary</th>
        <th>Date of Birth</th>
        <th>Index</th>
        <th>first</th>
        <th>last</th>
        <th>even</th>
        <th>odd</th>
        <th>percentage</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor='let employee of employees |employeeTitle:search;let i=index;let isFirst=first;let isLast=last;let isEven=even;let isOdd=odd'>
        <td>{{employee.code|uppercase}}</td>
        <td>{{employee.name|uppercase}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.annualSalary| currency:'USD':true:'1.2-2'}}</td>
        <td>{{employee.dateOfBirth|date:'fullDate'}}</td>
        <td>{{i}}</td>
        <td>{{isFirst}}</td>
        <td>{{isLast}}</td>
        <td>{{isEven}}</td>
        <td>{{isOdd}}</td>
        <td>{{employee.percentage}}</td>
        <td *ngIf="employee.percentage>=75">
            <button class="btn btn-Click Me"appHighlight (click)="alertMe('U secured'+' '+ employee.percentage+'%')">Click Me </button>     <!--Event binding -->
        </td>
        <td *ngIf="employee.percentage<75">
         <button class="btn btn-Click Me" (click)="alertMe('U secured'+' '+ employee.percentage+'%')">Click Me </button>     <!--Event binding -->
            
    </tr>
    <tr *ngIf="!employees || employees.length==0">
        <td colspan="5">
            No employees to display
        </td>
    </tr>
    
</tbody>
</table>
<employee-count></employee-count>


